<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="${#themes.code('pageTitle')}"></title>
    <link rel="stylesheet" th:href="@{${#themes.code('css.file')}}" />
    <script type="text/javascript">
 		//解决在iframe下因Session登陆超时问题，导致iframe页面嵌套登陆界面
        $(function (){
            if(window != top)
            	top.location.href =location.href;
        });
     </script>
</head>
<body>
<body>
    <div class="mainBody">
      <div class="cloud"></div>
      <div class="cloud" style="z-index:2;"></div>
    </div>  
	<div class="logintop">    
	    <span>欢迎登录后台管理界面平台</span>    
	    <ul>
		    <li><a href="#">回首页</a></li>
		    <li><a href="#">帮助</a></li>
		    <li><a href="#">关于</a></li>
	    </ul>    
    </div>
    <div class="loginbody">
    	<span class="systemlogo"></span> 
	    <form class="loginbox" th:object="${credential}" method="post">
		    <ul>
			    <li><input class="required loginuser" name="username" type="text" value="" placeHolder="用户名"/></li>
			    <li><input class="required loginpwd" name="password" type="password" placeHolder="密码"/></li>
			    <li>
			    	<input type="hidden" name="execution" th:value="${flowExecutionKey}" />
            		<input type="hidden" name="_eventId" value="submit" />
            		<input type="hidden" name="geolocation" />
			    	<input name="" type="submit" class="loginbtn btn btn-submit btn-block" th:value="#{screen.welcome.button.login}"/>
			    	<label><input name="submit" accesskey="l" type="checkbox" value="" checked="checked" />记住密码</label><label><a href="#">忘记密码？</a></label>
			    </li>
<!-- 			    <li class="errormsg"><label>${errorMsg }</label></li> -->
				<div class="login_error" th:if="${#fields.hasErrors('*')}"><span th:each="err : ${#fields.errors('*')}" th:utext="${err}" />
        		</div>
		    </ul>
    	</form>
    </div>
    <div class="loginbm">版权所有  2013  <a href="http://www.kytc.com">kytc.com</a>  仅供学习交流，勿用于任何商业用途</div>
</body>
</html>
<!-- <h3 th:text="${#themes.code('pageTitle')}"></h3> -->
<!-- <div> -->
<!--     <form method="post" th:object="${credential}"> -->
<!--         <div th:if="${#fields.hasErrors('*')}"><span th:each="err : ${#fields.errors('*')}" th:utext="${err}" /> -->
<!--         </div> -->
<!--         <h4 th:utext="#{screen.welcome.instructions}"></h4> -->
<!--         <section class="row"> -->
<!--             <label for="username" th:utext="#{screen.welcome.label.netid}" /> -->
<!--             <div th:unless="${openIdLocalId}"> -->
<!--                 <input class="required" id="username" size="25" tabindex="1" type="text" th:disabled="${guaEnabled}" th:field="*{username}" th:accesskey="#{screen.welcome.label.netid.accesskey}" autocomplete="off" th:value="casuser" /> -->
<!--             </div> -->
<!--         </section> -->
<!--         <section class="row"> -->
<!--             <label for="password" th:utext="#{screen.welcome.label.password}" /> -->
<!--             <div> -->
<!--                 <input class="required" type="password" id="password" size="25" tabindex="2" th:accesskey="#{screen.welcome.label.password.accesskey}" th:field="*{password}" autocomplete="off" th:value="Mellon" /> -->
<!--             </div> -->
<!--         </section> -->
<!--         <section> -->
<!--             <input type="hidden" name="execution" th:value="${flowExecutionKey}" /> -->
<!--             <input type="hidden" name="_eventId" value="submit" /> -->
<!--             <input type="hidden" name="geolocation" /> -->
<!--             <input class="btn btn-submit btn-block" name="submit" accesskey="l" th:value="#{screen.welcome.button.login}" tabindex="6" type="submit" /> -->
<!--         </section> -->
<!--     </form> -->
<!-- </div> -->
</body>

</html>